.review_container {
  /* background-color: aqua; */
  margin: 10px;
}

.review_content {
  width: 400px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  line-height: 40px;
  border-radius: 20px 20px 0 0;
  padding: 0 30px;
}

.review_desp > h3 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  color: #232321;
}

.review_desp > p {
  width: 90%;
  font-family: "Rubik", sans-serif;
  line-height: normal;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating > p {
  font-family: "Rubik", sans-serif;
}

.rating > img {
  margin-right: 6px;
  object-fit: contain;
}

.review_content > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: -20px 0 0 0;
}

.review_image {
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  height: 300px;
  width: 400px;
}

.review_image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 425px) {
  .review_content {
    width: 250px;
    height: 100px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
  }
  .review_desp > h3 {
    font-size: 20px;
  }
  .review_desp > p {
    font-size: 10px;
  }
  .rating > img {
    width: 10px;
    margin-right: 6px;
  }
  .rating > p {
    font-size: 10px;
  }
  .review_content > img {
    width: 50px;
    height: 50px;
  }
  .review_image {
    height: 200px;
    width: 250px;
    border-radius: 0 0 10px 10px;
  }
}